#footnote {
    position: fixed;
    bottom: 0%;
    background-color: aqua;
    width: 100%;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
}

h4 {
    font-style: italic;
    font-weight: bold;
}

#camera {
    width: 500;
    height: 400;
}

img {
    border-radius: 5%;
    padding: 1%;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

.column {
    display: inline;
}

img:hover {
    border-radius: 140px;
}